$common-assets-fonts-path: '..' !default;

@font-face {
  font-family: MinecraftEvenings;
  src: url('#{$common-assets-fonts-path}/fonts/MinecraftEvenings.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: JungleAdventurer;
  src: url('#{$common-assets-fonts-path}/fonts/JungleAdventurer.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
