@import '../../../assets/scss/variables';

button {
  border: none;
  border-radius: 5px;
  background-color: $pokemon-yellow;
  color: $pokemon-blue;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  font-family: JungleAdventurer;
  margin: 5px;
  padding: 8px 5px;
  text-transform: capitalize;

  &:hover {
    background-color: $pokemon-blue;
    color: $pokemon-yellow;
  }
}
