@import './assets/scss/fonts';
@import './assets/scss/variables';

html {
  height: 100vh;
  width: 100vw;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: MinecraftEvenings;
  background-image: linear-gradient(180deg, $pokemon-white, $pokemon-yellow);
}
